# Discord Bot Token
DISCORD_TOKEN=your_bot_token_here

# Channel IDs:
NEW_ITEMS_CHANNEL_ID=
PRICE_CHANGES_CHANNEL_ID=
CATALOG_CHANNEL_ID=your_catalog_channel_id
TITLE_DATA_CHANNEL_ID=your_titledata_channel_id
LIST_CHANNEL_ID=your_list_channel_id
STATUS_CHANNEL_ID=your_status_channel_id
HIERARCHY_CHANNEL_ID=your_hierarchy_channel_id
COSMETICS_CONTROLLER_CHANNEL_ID=your_cosmetics_controller_channel_id
SHOPIFY_CHANNEL_ID=your_shopify_merch_channel_id
CCU_CHANNEL_ID=your_ccu_channel_id

# Steam Credentials
STEAM_USERNAME=your_steam_username
STEAM_PASSWORD=your_steam_password

# Gorilla Tag Steam AppID & PlayFab Title ID
STEAM_APPID=1533390
PLAYFAB_TITLE_ID=63FDD

# Shopify Merch Store Tracking
SHOPIFY_DOMAIN=another-axiom-x-juniper.myshopify.com
SHOPIFY_STOREFRONT_TOKEN=5db8864a0aebe3ff62a60db93e8491e1
SHOPIFY_POLL_INTERVAL_SECONDS=60

# Catalog Polling Interval (in seconds or minutes)
POLL_INTERVAL_SECONDS=15